
*{
    margin:0;
    padding:0;
}
body {
    background-color:#7B6D8D;
    color:white;

}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:80px;
    background-color:#593F62;
   
    
}
nav ul{
    display:flex;
    justify-content: center;
    

}
nav ul li{
    list-style:none;
    margin:0 23px;
    
}
nav ul li a:hover{
    text-decoration:none;
    color:plum;
    font-size: 1.04rem;
    font-weight: bold;

}
nav ul li a{
    text-decoration:none;
    color:white;
}
main hr{
    border: 0;
    background-color: #36151E;
    height: 1.2px;
    margin: 20px 84px;

}
.left{
    font-size: 2.1 rem;
    font-family: "Baloo Bhaina 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.firstsection {
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin:40px 0;
    

}
.firstsection > div{
    width:30%;
}

.leftsection{
    font-size: 2.3rem;
    margin: 90px 0px;
    font-family: "Baloo Bhaina 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.leftsection .buttons{
    padding: 50px 0;
}
.leftsection .btn{
    padding: 12px;
    background:#36151E;
    color: white;
    border:2px solid white;
    border-radius:6px;
    font-size: 20px;
    cursor: pointer;


}


.rightsection img{
    width:80%;
    border:none;
    height:50vh;
    width:25vw;
    border-radius: 250px;
    background-color: #7B6D8D;
}
.purple{
    color:#36151E;
    font-weight: 700;
}
#element{
    color:#36151E;
    font-weight: 700;
}

.leftsection1{
   font-size: 20px;
   margin: 20px 0;
   text-decoration: dotted;
   
}


